@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vh;
    background: #111;
    overflow: hidden;
}

.ring{
    position: relative;
    width:  550px;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: blue; */
}

.ring i{
 
    position: absolute;
    inset: 50px;
    border: 2px solid #fff;
    transition: 0.5s;
}

.ring i:nth-child(1){
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    animation: animate 6s linear infinite;
}
.ring i:nth-child(2){
    border-radius: 41% 44% 56% 59%/ 38% 62% 63% 37%;
    animation: animate 4s linear infinite;
}
.ring i:nth-child(3){
    border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
    animation: animate 10s linear infinite ;
}
.ring:hover i{
    border: 6px solid var(--clr);
    filter: drop-shadow(0 0 20px var(--clr));
}
@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes animate2 {
    0%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
.login{
    /* background-color: red; */
    position: absolute;
    width: 300px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.login h2{
    /* background-color: yellow; */
    font-size: 2em;
    color: #fff;
}
.login .inputBx{
    /* background-color: purple; */
    position: relative;
    width: 200px;
    border-radius: 30px;
    
}

.login .inputBx input[type="text"]{
    /* width: 100% */
    /* background: #0078ff; */
    /* background: linear-gradient(45deg, #ff357a, #fff172);
     */
     color: #fff;
     background: wheat;
     background-color: transparent;
    border: 2px solid #fff;
    border-radius: 20px;
    width: 250px;   
    padding: 12px;
    
}
.login .inputBx input[type="password"]{
    /* width: 100% */
    /* background: #0078ff; */
    /* background: linear-gradient(45deg, #ff357a, #fff172);
     */
     color: #fff;
     background: wheat;
     background-color: transparent;
    border: 2px solid #fff;
    border-radius: 20px;
    width: 250px;   
    padding: 12px;
}
.login .inputBx input[type="submit"]{
    /* width: 100% */
    /* background: #0078ff; */
    background: linear-gradient(45deg, #5416b4, #a442dc);
    border: none;
    cursor: pointer;
    border-radius: 20px;
    width: 250px;   
    padding: 10px;  
    color: #fff;
    

}
.login .inputBx input::placeholder{
    color: rgba(255, 255, 255, 0.75);
    
}
.login .links{
    
    position: relative;
    width: 200px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 0px; */
}
.login .links a{
    color: #fff;
    text-decoration: none;
}
.login .links a:hover{
    color: rgba(44, 44, 192, 0.849);
   
}
